{% extends "index.html" %}
{% block mainBody %}
    <div class="container form-container">
        <div class="row row-centered">
            <div class="col-md-6 col-centered">
                <h3>Password reset sent</h3>
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you
                    entered. You should receive them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with, and
                    check your spam folder.
                </p>
                <span id="show"></span>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            jumpPage(3, "{% url "index" %}", $("#show"), "Login Page");
        })
    </script>
{% endblock %}