{% extends "index.html" %}
{% block mainBody %}
    <div class="container form-container">
        <div class="row row-centered">
            <div class="col-md-6 col-centered">
                <h3>New password set successful.</h3>
                <div class="text-center" role="group">
                    <p>
                        The new password is set successful. You could login now.
                    </p>
                    <span id="show"></span> 
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            jumpPage(3, "{% url "Accounts:login" %}", $("#show"), "Login Page")
        })
    </script>
{% endblock %}