{% extends "index.html" %}
{% block mainBody %}
    <script>
        $(function(){
            jumpPage(3, {% url "index" %}, $("#show"), "Homw Page")
        })
    </script>

    <div class="container form-container">
        <div class="row row-centered">
            <div class="col-md-6 col-centered">
                <div class="text-center" role="group">
                    <p>Password change successfully.</p>
                    <span id="show"></span> 
                </div>
            </div>
        </div>
    </div>


{% endblock %}