{% extends "index.html" %}
{% block mainBody %}
    <div class="container form-container">
        <div class="row row-centered">
            <div class="col-md-6 col-centered">
                <h3>Enter new password</h3>
                <form class="form-group" method="post">
                    {% csrf_token %}
                    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <div class="help text-small text-muted">{{ field.help_text|safe }}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="text-center" role="group">
                        <button type="submit" class="btn btn-primary">Change my password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}